language: python
python:
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install coverage
  - pip install -r requirements.txt
  - pip install .
# command to run tests
script: coverage run -m unittest discover
after_success: bash <(curl -s https://codecov.io/bash)