{% extends "base.html" %}
{% block email_message %}
    <p>
        Hi {{ first_name }},
    </p>
    <p>
        Congratulations! We are excited to inform you that you have been selected
        to join us for HackRice 9! We can’t wait to meet you and are avidly
        planning an awesome weekend full of great food & prizes.
    </p>
    <p>
        To confirm your spot at the event, make sure to
        <a href="https://hr9-registration.herokuapp.com">complete your application</a>
        by September 2nd at 5pm CST. This will let us know to reserve your spot.
        Unfortunately, we <b>cannot</b> reimburse your travel for the event.
    </p>
    <p>
        If you have any questions, please reach out at hack@rice.edu!
    </p>
    <p>
        Best,<br>
        The HackRice Team
    </p>
{% endblock %}