{% extends "base.html" %}
{% block email_message %}
    <p>
        Hi {{ first_name }},
    </p>
    <p>
        Thanks for coming to HackRice 9! We hope you had just as much fun as we did!
        Below we have a message from Bill.com, our biggest sponsor this year:
    </p>
    <i>
        <p>
            "It was great to be a part of this year’s event and see all of the amazing and
            innovative projects that were put together. We want to invite you to connect with
            our team at the Fall 2019 Career & Internship Expo, where we can talk shop and get
            to know each other a little better.  Also, make sure to stop by the Liu Idea Lab
            for Innovation & Entrepreneurship on Tuesday Sept 24 @ 4pm as our SVP of
            Engineering - and Rice University alum - Vinay Pai will be presenting an Innovation
            Lecture on 'The Future of Payments.'”
        </p>
    </i>
    <p>
        We also have a message from Cognite, another one of our top sponsors:
    </p>
    <i>
        <p>
            "Cognite wants to congratulate all students and teams on completing HackRice 9! We’re
            truly amazed by your dedication, grit and passion as well as the creativity and skills
            we’ve been lucky to see you leverage this weekend.
        </p>
        <p>
            If you want to build further on those skills, and have a great time while creating
            impactful technology, join us for an internship or graduate position in Norway! We
            cover flights and visa fees, and organize affordable housing for your stay. We
            promise a start-up culture with talented people who like to have fun at work! We
            also promise flexible work hours / location and the opportunity to travel Europe
            while you’re here (previous intern record is 16 countries in 4 months including
            both work and vacation trips!!). We are software engineers, data scientists, 3D
            developers, solution architects, project managers and a bunch of others coming
            from 42 nationalities that are ready for your arrival!
        </p>
        <p>
            Check out our openings on www.cognite.com/careers, or get in touch directly via
            maria@cognite.com. Let us know if you have any questions at all, and stop by our
            booth on the Career Fair & Internship expo this Tuesday.
        </p>
        <p>
            Congrats again, and have a great week ahead!
        </p>
        <p>
            Best regards,<br>
            Team Cognite"
        </p>
    </i>
    <p>
        Be sure to check out these companies at the career fair and beyond!
    </p>
    <p>
        Best,<br>
        The HackRice Team
    </p>
{% endblock %}