{% extends "base.html" %}
{% block email_message %}
    <p>
        Hi {{ first_name }},
    </p>
    <p>
        HackRice 9 is this Friday! Thanks for confirming your spot—we're super
        excited to meet you and see your project this weekend.
    </p>
    <p>
        As we mentioned in our last email, please plan to arrive at the
        <a href="https://www.google.com/maps/place/Rice+Memorial+Center+-+Grand+Hall/@29.7179098,-95.403988,17z/data=!3m1!4b1!4m5!3m4!1s0x8640c07ba073db39:0x33c8974bfe985837!8m2!3d29.7179098!4d-95.4017993">
            Rice Memorial Center
        </a>
        starting at <b>5pm on September 20</b>. Opening ceremonies will begin at 7pm,
        and we'd like to get you all checked in well before that. But of course, we
        understand that your schedule is busy, and we can still check you in if you
        show up late.
    </p>
    <p>
        Also, maybe you've seen it in the news, but Houston is getting hit by a pretty
        nasty tropical storm right now. We expect it to pass by the time HackRice starts
        on Friday, but if your flights/travel get delayed, please let us know. We'd
        also recommend bringing a rain jacket and/or umbrella just in case.
    </p>
    <p>
        If you plan on driving to the event, we can validate your parking (on a first
        come, first serve basis). To receive parking validation, please park in either
        the <b>North Lot</b> or the <b>Central Campus Garage</b>, and then ask a
        pink-shirted staff member for a permit before you leave. You can find a map
        of parking lots
        <a href="https://www.rice.edu/sites/g/files/bxs2566/files/2019-08/Rice-Printable-Campus-Maps.pdf">
            here.</a>
    </p>
    <p>
        Finally, we want to share a few resources with you:
        <ul>
        <li>
            <a href="https://docs.google.com/spreadsheets/d/1lQn_hxj1V5WwVdubf3Vn5ejB_Uupi6sVsqEO7EDvKFI/edit?usp=sharing">
                Ride Sharing
            </a>
        </li>
        <li>
            <a href="https://join.slack.com/t/hackrice9/shared_invite/enQtNzUwMjg3MzAyMjQ2LWExOGI4YjQ0NTk3ZWMzZThiNzczMTgxMTAxYjhiMTkzYTVlZWQ5ODU2NDllM2YyNmM5NGYzZmZlODYyZmJkOGY">
                Slack Channel
            </a>
        </li>
        <li>
            <a href="https://crowdforge.io/hackathons/hackrice9">
                Team Formation
            </a>
        </li>
        </ul>
    </p>
    <p>
        Please check out <a href="https://hack.rice.edu">our website</a>
        to see a tentative schedule and list of challenges for the event, and <b>reach out
        at hack@rice.edu if you have any questions</b>! See you soon!
    </p>
    <p>
        Best,<br>
        The HackRice Team
    </p>
{% endblock %}