{% extends "base.html" %}
{% block email_message %}
    <p>
        Hi {{ first_name }},
    </p>
    <p>
        Thanks for confirming your spot at HackRice 9! All of us at HackRice
        are super excited to meet you and get the event started. We just wanted
        to share a couple resources with you beforehand.
    </p>
    <p>
        We've received a few concerns from hackers about the cost of getting a
        lyft/uber from the airport to Rice. And those concerns are valid—these
        rides aren't free. To make your lives easier, we want to share a
        <a href="https://docs.google.com/spreadsheets/d/1lQn_hxj1V5WwVdubf3Vn5ejB_Uupi6sVsqEO7EDvKFI/edit?usp=sharing">
            google sheet
        </a> that you can use to coordinate rides with other HackRice participants.
    </p>
    <p>
        Also, we want to clarify that the teams you may have specified on your
        application are <i>not</i> final. You don't actually have to finalize
        your team until well into the event. Hopefully, you will have time to get
        to HackRice early to meet your fellow hackers and form teams, but in case
        you can't, we've made a
        <a href="https://join.slack.com/t/hackrice9/shared_invite/enQtNzUwMjg3MzAyMjQ2LWExOGI4YjQ0NTk3ZWMzZThiNzczMTgxMTAxYjhiMTkzYTVlZWQ5ODU2NDllM2YyNmM5NGYzZmZlODYyZmJkOGY">
            slack channel
        </a> for you all to get started on that before the event.
    </p>
    <p>
        Finally, please plan to arrive at Rice University by <b>6pm on September 30</b>.
        Opening ceremonies will begin at 7pm, and we'd like to get you all checked
        in well before that. But of course, we understand that your schedule is busy,
        and we can still check you in if you show up late.
    </p>
    <p>
        Please reach out at hack@rice.edu if you have any questions!
    </p>
    <p>
        Best,<br>
        The HackRice Team
    </p>
{% endblock %}