{% extends "base.html" %}
{% block email_message %}
    <p>
        Hi {{ first_name }},
    </p>
    <p>
        Congratulations! We are excited to inform you that you have been selected
        to join us for HackRice 9! We can’t wait to meet you and are avidly
        planning an awesome weekend full of great food & prizes.
    </p>
    <p>
        To confirm your spot at the event, make sure to
        <a href="https://hr9-registration.herokuapp.com">complete your application</a>
        by August 24th at 5pm CST. This will let us know that you want to come and
        whether or not you need reimbursement for your travels. In order to qualify
        for reimbursement, you must submit a project at the event! (Also, please note
        that all receipts must be submitted at the link above by
        <b>October 24, 2019</b>.)
    </p>
    <p>
        We reimburse based on location and mode of transportation.
    </p>
    <ul>
        <li>
            Airplane & Bus
            <ul>
                <li>In Texas: $50</li>
                <li>In Midwest/South: $100</li>
                <li>In West/Northeast/International: $150</li>
            </ul>
        </li>
        <li>
            Driving
            <ul>
                <li>All Gas Money up to $125</li>
            </ul>
        </li>
    </ul>
    <p>
        If you have any questions, please reach out at hack@rice.edu!
    </p>
    <p>
        Best,<br>The HackRice Team
    </p>
{% endblock %}